        
        body{
            background-color: bisque;
        }
        
        
        h1 {
            color: RGB(255, 0, 0);
            font-size: 24px;
            font-family: Arial, sans-serif;

        }